$background-color: #000b1b;
$text-color: #fffffffa;
$highlight-color: #ffffff;
$border-color: #202023;
$footer-height: 60px;

.ant-layout-footer {
  text-align: center;
  padding: 16px;
  border-top: 1px solid $border-color;
  background-color: $background-color;
  color: $text-color;
  height: $footer-height;
  margin-top: auto;

  a {
    color: $highlight-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}