$background-color: #000b1b;
$content-background: #000b1b;
$text-color: #fffffffa;
$highlight-color: #ffffff;
$border-color: #202023;

body, html {
  background-color: $background-color;
  color: $text-color;
  height: 100%;
}

.post-details {
    padding: 24px;
    background-color: $content-background;
    color: $text-color;
    line-height: 1.6;

    .post-title {
      text-align: center;
      color: $highlight-color;
      margin-bottom: 16px;
    }

    .post-meta {
      text-align: center;
      font-size: 0.9rem;
      color: $text-color;
      margin-bottom: 24px;

      strong {
        font-weight: 600;
      }
    }

    .post-image {
      display: block;
      width: 100%;
      margin: 0 auto 24px;
      border-radius: 8px;
    }

    .markdown-content {
      font-size: 1rem;
      color: #ddd;

      h1, h2, h3 {
        margin-top: 24px;
        color: $highlight-color;
      }

      p {
        margin-bottom: 16px;
      }

      img {
        max-width: 100%;
        border-radius: 8px;
        margin: 16px 0;
      }

      code {
        background-color: #2e3b4e;
        padding: 4px 8px;
        border-radius: 4px;
        color: #e0e0e0;
      }

      pre {
        background-color: #2e3b4e;
        padding: 16px;
        border-radius: 8px;
        overflow-x: auto;
        color: #e0e0e0;
      }

      hr {
        border: none;
        border-top: 1px solid #444;
        margin: 24px 0;
      }
    }
  }